body {
    background: #ebf0fa;
    color: rgb(107 114 128);
    margin: 32px;
}
h1, h2 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #7856ff;
}
main {
    max-width: 64rem;
    margin: 48px auto 48px;
    padding:0 32px 0 32px;
}
main h2 {
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-size: 1rem;
}
p a {
    all: unset;
    color: #7856ff;
    text-decoration: none;
}
/* nav styles */
nav {
    display: flex;
    padding-bottom: 16px;
    margin: 40px auto 40px;
    gap: 20px;
    align-items: center;
    border-bottom: 2px solid rgb(229 231 235);
    max-width: 64rem;
}
nav a, nav span {
    all: unset;
    color: rgb(107 114 128);
}
nav a:hover {
    color: black;
}
main nav {
    border: 0;
}
/* button styles */

button {
    all: unset;
    display: flex;
    padding: 8px 12px;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.125rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
button:hover {
    opacity: 0.9;
}
.btn-primary {
    color: white;
    background-color: #7856ff;

}
.btn-secondary {
    color: #111827;
    background-color: #E5E7EB;
}
/* card styles */
.card {
    background-color: white;
    position: relative;
    padding: 12px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
.card h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #374151;
}
.card p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 0.875rem;
    line-height: 24px;
}